{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Site Management
{% endblock %}
{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <div id="accordion">
                    <div class="card mx-0">
                        <div class="card-header" id="reviewManagement">
                            <h5 class="mb-0">
                                <button class="btn btn-link plain-anchor collapsed" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview" id="review">
                                    <strong>Review Management</strong>{% if reviews|length > 0 %}<span class="notification-count">{{ reviews|length }}</span>{% endif %}
                                </button>
                            </h5>
                        </div>
                        <div id="collapseReview" class="collapse" aria-labelledby="reviewManagement" data-parent="#accordion">
                            <div class="card-body">
                                {% if reviews %}
                                    {% for review in reviews %}
                                        <div class="management-card">
                                            <h6><small class="font-weight-bold">{{ review.product.name }} - </small><small>{{ review.user }}</small></h6>
                                            <p class="mb-0"><small><span class="text-orange">Review: </span>{{ review.review }} - <span class="text-orange">Rating: </span>{{ review.stars }}/5</small></p>
                                            <p class="mb-1 mt-2"><a class="btn btn-sm btn-outline-primary mr-2" href="{% url 'approve_review' review.id %}">Approve</a><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_review' review.id %}">Reject</a></p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h6>No Reviews Pending</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card mx-0">
                        <div class="card-header" id="addProduct">
                            <h5 class="mb-0">
                                <button class="btn btn-link plain-anchor collapsed" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="false" aria-controls="collapseProduct" id="product">
                                    <strong>Add a Product</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseProduct" class="collapse" aria-labelledby="addProduct" data-parent="#accordion">
                            <div class="card-body">
                                <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ product_form|crispy }}
                                    <button type="submit" class="btn btn-orange text-uppercase mr-2 mb-2" id="submit-product">Add Product</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card mx-0">
                        <div class="card-header" id="addCocktail">
                            <h5 class="mb-0">
                                <button class="btn btn-link plain-anchor collapsed" data-toggle="collapse" data-target="#collapseCocktail" aria-expanded="false" aria-controls="collapseCocktail" id="cocktail">
                                    <strong>Add a Cocktail</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseCocktail" class="collapse" aria-labelledby="addCocktail" data-parent="#accordion">
                            <div class="card-body">
                                <form action="{% url 'add_cocktail' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ cocktail_form|crispy }}
                                    <button type="submit" class="btn btn-orange text-uppercase mr-2 mb-2" id="submit-cocktail">Add Cocktail</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postload_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            /* set cookies based on state of accordion on click */
            $('#review').click(function() {
                if ($('#review').attr("aria-expanded") === "false") {
                    document.cookie = "position=review";
                } else {
                    document.cookie = "position=none";
                };
            });
            $('#product').click(function() {
                if ($('#product').attr("aria-expanded") === "false") {
                    document.cookie = "position=product";
                } else {
                    document.cookie = "position=none";
                };
            });
            $('#cocktail').click(function() {
                if ($('#cocktail').attr("aria-expanded") === "false") {
                    document.cookie = "position=cocktail";
                } else {
                    document.cookie = "position=none";
                };
            });
            /* getCookie() example from https://www.w3schools.com/js/js_cookies.asp */
            function getCookie(cname) {  
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    };
                };
                return "";
            };
            /* set the show state of section captured in the position cookie */
            function checkCookie() {
                let position = getCookie("position");
                if (position == "review") {
                    $('#review').attr("aria-expanded","true");
                    $('#review').removeClass("collapsed");
                    $('#collapseReview').collapse("show");
                } else if (position == "product") {
                    $('#product').attr("aria-expanded","true");
                    $('#product').removeClass("collapsed");
                    $('#collapseProduct').collapse("show");
                } else if (position == "cocktail") {
                    $('#cocktail').attr("aria-expanded","true");
                    $('#cocktail').removeClass("collapsed");
                    $('#collapseCocktail').collapse("show");
                };
            };
            window.onload = function() {
                checkCookie();
            };
        });
    </script>
{% endblock %}