{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if products_in_cart %}
                    <p>{{ products_in_cart }}</p>
                {% else %}
                    <p>There are no items!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}