{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    About Us
{% endblock %}
{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <section class="container">
            <div class="row">
                <div class="col text-center fs-20">
                    <p class="pt-2">
                        We are a company dedicated to finding the best quality whiskey at the best prices to pass on to our customers. We 
                        are constantly on the lookout for new and exciting bottles and we currently hold a stock of some limited edition runs
                        and special items.
                    </p>
                    <p>
                        Please have a look through our <a class="orange-link" href="{% url 'products' %}"><strong>Products</strong></a> to find all of our stock, and if you are looking to buy more than
                        1 or 2 bottles, why not have a look at our <a class="orange-link" href="{% url 'create_a_crate' %}"><strong>Create-a-crate</strong></a> page to save 20% on all bottles from your selected category.
                    </p>
                    <p class="mb-2">
                        If you're feeling adventurous, take a look at our Cocktails page, we have a selection of Cocktail recipes (all involving whiskey, of course) with a handy link to our whiskey within!

                    </p>
                </div>
            </div>
        </section>
        <section class="container-fluid bg-orange">
            <div class="row section-title">
                <div class="col-12 text-center">
                    <h4 class="text-uppercase m-0" id="reviews">Popular items</h4>
                </div>
            </div>
            <div class="container px-0">
                <div class="row">
                    <div class="col text-center px-0">

                        <div id="carouselControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active text-center">
                                    <div class="h-100 scroll-card">
                                        <div class="row">   
                                            <div class="col pt-2">
                                                {% if first_product.image %}
                                                    <a href="{% url 'product_display' first_product.id %}">
                                                        <img src="{{ first_product.image.url }}" class="card-img-top cocktail-card-image" alt="{{ first_product.name }}">
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'product_display' first_product.id %}">
                                                        <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top cocktail-card-image" alt="{{ first_product.name }}">
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    <div class="card-body">
                                        <div class="row">   
                                            <div class="col">
                                                <h3 class="card-title">{{ first_product.name }}{% if first_product.detail %}<small class="grey"> - {{ first_product.detail }}</small>{% endif %}</h3>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                    <div class="row">   
                                            <div class="col">
                                                <p class="mb-0"><a class="plain-anchor" href="{% url 'products' %}?category={{first_product.category}}"><i class="fas fa-tag fa-sm"></i> {{ first_product.category.friendly_name }}</a></p>
                                                <p class="mb-0 card-detail grey">{{ first_product.size }}/{{ first_product.proof }}%</p>
                                                <p class="mb-0 card-price">£{{ first_product.price }}</p>
                                                {% if first_product.rating > 0.0 %}
                                                    <p class="mb-0 card-detail text-orange font-weight-bold">{{ first_product.rating }}/5</p>
                                                {% else %}
                                                    <p class="mb-0 card-detail text-orange">No Reviews yet</p>
                                                {% endif %}
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                {% for product in products %}
                                    <div class="carousel-item">
                                        <div class="h-100 scroll-card">
                                            <div class="row">   
                                                <div class="col pt-2">
                                                    {% if product.image %}
                                                        <a href="{% url 'product_display' product.id %}">
                                                            <img src="{{ product.image.url }}" class="card-img-top cocktail-card-image" alt="{{ product.name }}">
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'product_display' product.id %}">
                                                            <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top cocktail-card-image" alt="{{ product.name }}">
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        <div class="card-body">
                                            <div class="row">   
                                                <div class="col">
                                                    <h3 class="card-title">{{ product.name }}{% if product.detail %}<small class="grey"> - {{ product.detail }}</small>{% endif %}</h3>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                        <div class="row">   
                                                <div class="col">
                                                    <p class="mb-0"><a class="plain-anchor" href="{% url 'products' %}?category={{product.category}}"><i class="fas fa-tag fa-sm"></i> {{ product.category.friendly_name }}</a></p>
                                                    <p class="mb-0 card-detail grey">{{ product.size }}/{{ product.proof }}%</p>
                                                    <p class="mb-0 card-price">£{{ product.price }}</p>
                                                    {% if product.rating > 0.0 %}
                                                        <p class="mb-0 card-detail text-orange font-weight-bold">{{ product.rating }}/5</p>
                                                    {% else %}
                                                        <p class="mb-0 card-detail text-orange">No Reviews yet</p>
                                                    {% endif %}
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                                <i class="fas fa-chevron-left fa-lg"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                                <i class="fas fa-chevron-right fa-lg"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}