{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="landing-image">
                <div class="container">
                    <div class="row">
                        <div class="offset-2 offset-sm-3 offset-md-5 col-10 col-sm-9 col-md 7 welcome">
                            <h2 class="display-4 logo-font text-light">
                                The Finest Whiskey
                            </h2>
                            <div>
                                <h4>
                                    <a href="#" class="text-light btn btn-lg text-uppercase py-3 entry-button">Enter</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}