/*---------General---------*/

body {
    font-family: poppins, sans-serif;
}

.page-header {
    text-align: center;
    font-size: 35px;
    padding-top: 17px;
    text-transform: uppercase;
}

.grey {
    color:#495057;
}

.plain-anchor {
    color: inherit;
}

.plain-anchor:hover {
    color: inherit;
}

.text-orange {
        color: #ff7600;
}

.btn-orange {
    color: #fff;
    background-color: #ff8552;
    border-color: #ff8552;
}

.btn-orange:hover {
    color: #ff8552;
    background-color: #495057;
    border-color: #ff8552;
}

/*---------navigation/navbar---------*/

.header-bg {
    background-image: linear-gradient(to bottom right, #b5a081, #ffeee0);
}

.header-logo {
    display: flex;
    padding-left: 5%;
    letter-spacing: 2px;
    padding-top: .5rem;
    align-items: center;
}

.logo {
    font-size: 32px;
    margin-bottom: 1rem;
}

.logo-link {
    color: #343a40;;
}

.logo-link:hover {
    text-decoration: none;
    color: #343a40;;
}

.burger-container {
    padding-left: 10px;
}

.burger-button {
    border: 0;
    background-color: transparent;
}

.burger-button:focus {
    outline: 0;
}

.burger-line {
    background-color: #343a40;
    width: 25px;
    height: 3px;
    margin: 6px;
}

.navbar {
    padding: 0;
}

li .nav-link {
    padding: .5rem .3rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.burger-button {
    padding: 10px;
    padding-top: 0px;
    width: 62px;
}

.burger-button div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 7px;
}

.search-button {
    margin-left: -36px;
    margin-top: -4px;
    border: 0;
    color: #343a40;
    padding: 1px;
    background-color: #fafafa;
}

.search-bar {
    margin-left: 5%;
    margin-bottom: .5rem;
    width: 95% !important;
    border-radius: 1.5rem;
    border: 1px solid #495057;
}

.nav-spacer {
    width: 100%;
    height: 72px;
}

/*---------landing page---------*/

.landing-image {
    background: url("/media/landing-image-cropped.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 72px);
    width: 100%;
}

.landing-message {
    padding: 4rem 2rem;
    background-color: transparent;
    color: #fafafa;
    position: absolute;
    top: 22vh;
    right: 10vw;
}

.welcome {
    margin-top: 14vh;
}

.entry-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fafafa;
    border-radius: 3px;
}

/*---------products/whiskey page---------*/

.card-title {
    font-size: 20px;
    height: 47px;
}

.card {
    box-shadow: -6px -3px 4px #adabab;
    border: 1px solid lightgrey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card-image {
    max-width: 80%;
    height: auto;
    transform: translateX(12.5%);
}

.card-detail {
    font-size: 12px
}

.card-price {
    font-weight: 600;
}

.card-img-top {
    min-height: 15vw;
    background: url(/media/103.gif) no-repeat center center;
}

.pagination>li.active>a {
  background-color: darkgray !important;
  border-color: lightgray !important;
}

.pagination>li.page-item>a {
  border-color: lightgray;
  color: #010101;
}

/*---------product display---------*/

.display-section {
    max-width: 620px;
    margin-top: 20px;
}

.image-section {
    max-width: 460px;
}

.buy-container {
    padding: 10px;
    background-color: #e4e1e1;
    border-radius: 3px;
}

/*---------media queries---------*/

@media (min-width: 576px) {
    li .nav-link {
        padding: .5rem 1rem;
    }
    .burger-container {
    padding-left: 15px;
    }
    .card {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding: .5rem 1rem;
    }
    .landing-image {
        height: calc(100vh - 72px - 56px);
    }
    .nav-spacer {
        height: 128px;
    }
}