/*---------navigation/navbar---------*/

body {
    font-family: poppins, sans-serif;
}

.header-logo {
    display: flex;
    padding-left: 5%;
    letter-spacing: 2px;
    padding-top: .5rem;
    align-items: center;
}

.logo {
    font-size: 32px;
}

.logo-link {
    color: #343a40;;
}

.logo-link:hover {
    text-decoration: none;
    color: #343a40;;
}

.burger-container {
    padding-left: 10px;
}

.burger-button {
    border: 0;
    background-color: transparent;
}

.burger-button:focus {
    outline: 0;
}

.burger-line {
    background-color: #343a40;
    width: 25px;
    height: 3px;
    margin: 6px;
}

.navbar {
    padding: 0;
}

li .nav-link {
    padding: .5rem .3rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.burger-button {
    padding: 10px;
    padding-top: 0px;
    width: 62px;
}

.burger-button div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 7px;
}

.search-button {
    margin-left: -36px;
    margin-top: 2px;
    border: 0;
    color: #343a40;
    padding: 1px;
    background-color: #fafafa;
}

.search-bar {
    margin-left: 5%;
    width: 95% !important;
    border-radius: 1.5rem;
    border: 1px solid #495057;
}

/*---------landing page---------*/

.landing-image {
    background: url("/media/landing-image-cropped.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 72px);
    width: 100%;
}

.landing-message {
    padding: 4rem 2rem;
    background-color: transparent;
    color: #fafafa;
    position: absolute;
    top: 22vh;
    right: 10vw;
}

.welcome {
    margin-top: 14vh;
}

.entry-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fafafa;
    border-radius: 3px;
}

/*---------products/whiskey page---------*/

.card {
    display: inline-block;
}

.card-image {

}

.card-title {

}

/*---------media queries---------*/

@media (min-width: 576px) {
    li .nav-link {
        padding: .5rem 1rem;
    }
    .burger-container {
    padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding: .5rem 1rem;
    }
    .landing-image {
        height: calc(100vh - 72px - 56px);
    }
}