/*---------General---------*/

body {
    font-family: poppins, sans-serif;
}

.page-header {
    text-align: center;
    font-size: 35px;
    padding-top: 17px;
    text-transform: uppercase;
}

.grey {
    color:#495057;
}

.light-grey {
    color:#9a9a9a;
}

.plain-anchor {
    color: inherit;
}

.plain-anchor:hover {
    color: inherit;
}

.plain-anchor-no-underline {
    color: inherit;
}

.plain-anchor-no-underline:hover {
    color: inherit;
    text-decoration: none;
}

.text-orange {
    color: #ff7600;
}

.orange-link:hover {
    color: #ff7600;
}

.btn-orange {
    color: #fff;
    background-color: #ff8552;
    border-color: #ff8552;
}

.btn-orange:hover {
    color: #ff8552;
    background-color: #495057;
    border-color: #ff8552;
}

.section-title {
    background-image: linear-gradient(to bottom right, #b5a081, #ffeee0);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.w-90 {
    width: 90%;
}

html {
  scroll-behavior: smooth;
}

/*---------toasts/messages---------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-header {
    background-color: #fafafa;
}

.toast-border {
    border: 2px solid;
}

.size-restrict {
    overflow-y: auto;
    padding-top: 2px;
    padding-left: 2px;
    max-height: 150px;
}

/*---------navigation/navbar---------*/

.header-bg {
    background-image: linear-gradient(to bottom right, #b5a081, #ffeee0);
}

.nav-bg {
    background-color: #f1f1f1!important;
}

.header-logo {
    display: flex;
    padding-left: 5%;
    letter-spacing: 2px;
    padding-top: .5rem;
    align-items: center;
}

.logo {
    font-size: 32px;
    margin-bottom: 1rem;
}

.logo-link {
    color: #343a40;;
}

.logo-link:hover {
    text-decoration: none;
    color: #343a40;;
}

.burger-container {
    padding-left: 10px;
}

.burger-button {
    border: 0;
    background-color: transparent;
}

.burger-button:focus {
    outline: 0;
}

.burger-line {
    background-color: #343a40;
    width: 25px;
    height: 3px;
    margin: 6px;
}

.navbar {
    padding: 0;
}

li .nav-link {
    padding: .5rem .3rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.burger-button {
    padding: 10px;
    padding-top: 0px;
    width: 62px;
}

.burger-button div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 7px;
}

.search-button {
    margin-left: -36px;
    margin-top: -4px;
    border: 0;
    color: #343a40;
    padding: 1px;
    background-color: #fafafa;
}

.search-bar {
    margin-left: 5%;
    margin-bottom: .5rem;
    width: 95% !important;
    border-radius: 1.5rem;
    border: 1px solid #495057;
}

.nav-spacer {
    width: 100%;
    height: 72px;
}

/*---------landing page---------*/

.landing-image {
    background: url("/media/landing-image-cropped.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 72px);
    width: 100%;
}

.landing-message {
    padding: 4rem 2rem;
    background-color: transparent;
    color: #fafafa;
    position: absolute;
    top: 22vh;
    right: 10vw;
}

.welcome {
    margin-top: 14vh;
}

.entry-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fafafa;
    border-radius: 3px;
}

/*---------products/whiskey page---------*/

.card-title {
    font-size: 20px;
    height: 47px;
}

.card {
    box-shadow: -6px -3px 4px #adabab;
    border: 1px solid lightgrey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card-image {
    max-width: 80%;
    height: 310px;
    transform: translateX(12.5%);
    object-fit: contain;
}

.card-detail {
    font-size: 12px
}

.card-price {
    font-weight: 600;
}

.card-img-top {
    min-height: 15vw;
    background: url(/media/tenor.gif) no-repeat center center;
}

.pagination>li.active>a {
  background-color: darkgray !important;
  border-color: lightgray !important;
}

.pagination>li.page-item>a {
  border-color: lightgray;
  color: #010101;
}

.cat-links {
    display: none;
}

/*---------product display---------*/

.display-section {
    max-width: 620px;
    margin-top: 20px;
}

.image-section {
    max-width: 460px;
}

.buy-container {
    padding: 10px;
    background-color: #e4e1e1;
    border-radius: 3px;
}

/*---------reviews---------*/

.review {
    background-color: #e4e1e1;
    max-width: 650px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 3px;
}

.review-form {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 40px;
}

.form-header {
    text-align: center;
    font-weight: 600;
}

.review-form div textarea {
    height: 105px;
}

.review-section {
    background-color: #fdedde;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
    padding-top: 20px;
}

.rm-mb-15 {
    margin-top: -15px;
}

/*---------site management---------*/

.notification-count {
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-left: 10px;
    display: inline-block;
    background-color: orange;
    color: black;
}

.management-card {
    background-color: lightgray;
    padding: 8px 10px 5px 10px;
    margin: 5px;
    border-radius: 3px;
}

/*---------cart---------*/

.cart-field {
    width: 4.5rem;
    height: 2rem;
}

.cart-img {
    max-width: 100%;
    height: auto;
    max-height: 140px;
    object-fit: contain;
}

.mb-2px {
    margin-bottom: 2px;
}

.total {
    font-size: 20px;
    font-weight: 600;
}

.shipping {
    font-size: 17px;
}

.grand-total {
    font-size: 26px;
    font-weight: 600;
}

.div-right {
    justify-content: flex-end;
}

.cart-delete {
    float: right;
    padding-right: 10%;
}

.shipping-banner {
    background-color: #6c757d;
    color: #fafafa;
    text-transform: uppercase;
    padding: 2px;
}

/*---------create-a-crate---------*/

.product-container {
    box-shadow: -6px -3px 4px #adabab;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #adabab;
    border-radius: 3px;
    max-height: 56vh;
    overflow: auto;
}

.crate-card {
    border: 1px solid #adabab;
    box-shadow: -6px -3px 4px #adabab;
    padding: 2px;
}

.crate-img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: contain;
    background: url(/media/tenor.gif) no-repeat center center;
    background-size: cover;
}

.crate-size {
    width: 50px;
    height: 30px;
}

.crate-contents {
    border: 1px solid #adabab;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.strikeout {
    text-decoration: line-through;
    color: #adabab;
}

.text-large {
    font-weight: 600;
    font-size: 23px;
    color: #010101;
}

.crate-cart-content {
    background-color: #f1ecec;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 1px;
    border: 1px solid #adabab;
}

/*---------checkout---------*/

.fs-20 {
    font-size: 20px;
}

/*---------stripe---------*/

.stripe-card-field,
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.stripe-card-field:focus,
.stripe-card-field:active,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripe-card-field::placeholder {
    color: #aab7c4;
}

.StripeElement--invalid {
  border-color: #dc3545;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*---------media queries---------*/

@media (min-width: 576px) {
    li .nav-link {
        padding: .5rem 1rem;
    }
    .burger-container {
    padding-left: 15px;
    }
    .card {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .cat-links {
        display: block;
    }
    .mobile-links {
        display: none;
    }
    .cart-delete {
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding: .5rem 1rem;
    }
    .landing-image {
        height: calc(100vh - 72px - 56px);
    }
    .nav-spacer {
        height: 128px;
    }
}