{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col text-center light-grey">
                    <p>Add 6 bottles from your selected category to your crate, then add the create to your cart to <strong class="text-orange">save 15%</strong> on all items in the crate.</p>
                </div>
            </div>
            <div class="row">
                <div class="col px-5">
                    <form method="GET" action="{% url 'create_a_crate' %}">
                        <select class="form-control" name="category" id="categorySelect">
                            <option class="light-grey" selected disabled>Select Category</option>
                            {% if category_selected %}
                                <option value="{{ category_selected.name }}" selected>{{ category_selected.friendly_name }}</option>
                            {% else %}
                                {% for cat in all_categories %}
                                    <option value="{{ cat.name }}">{{ cat.friendly_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </form>
                </div>
            </div>
        </section>
        <section>
            {% if category or category_selected %}
                <div class="row">
                    <div class="col px-0">
                        <div class="product-container container">
                            {% for product in products %}
                                <div class="row">
                                    <div class="col">
                                        <div class="crate-card">
                                            <div class="row">
                                                <div class="col-2 text-center pr-0 m-auto">
                                                    <img class="img-fluid crate-img" src="{{ product.image.url }}">
                                                </div>
                                                <div class="col-10 mt-1">
                                                    <a href="{% url 'product_display' product.id %}" class="plain-anchor" target="_blank"><h6 class="my-0">{{ product.name }}</h6></a>
                                                    <p class="my-0"><small>{{ product.size }}</small></p>
                                                    <p class="my-0"><small>{{ product.proof }}</small></p>
                                                    <p class="my-0">
                                                        <small class="font-weight-bold">£{{ product.price }}</small>
                                                        <form class="form cart-delete" method="POST" action="{% url 'add_to_crate' product.id %}">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <div class="col-12 p-0">
                                                                    <input class="form-control d-inline-block crate-size" type="number" name="quantity" min="1" max="6" value="1"/>
                                                                    <button type="submit" class="btn btn-sm btn-orange mr-2 crate-size">Add</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
        <section>
            <div class="row">
                <div class="col">
                    {% for item in products_in_crate %}
                        <h1>{{ item.product.name }}</h1><a href="{% url 'delete_from_crate' item.product.id %}">Del</a>
                    {% endfor %}
                    {{ products_in_crate }}
                    {{ crate_total }}
                    {{ crate_product_count }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block postload_js %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#categorySelect').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}