{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col text-center light-grey">
                    <p>Add 6 bottles to your crate from your selected category, then add the crate to your cart to <strong class="text-orange">save 20%</strong> on all items in the crate.</p>
                </div>
            </div>
            <div class="row">
                <div class="col px-5">
                    <form method="GET" action="{% url 'create_a_crate' %}">
                        <select class="form-control" name="category" id="categorySelect">
                            <option class="light-grey" selected disabled>Select Category</option>
                            {% if category_selected %}
                                <option value="{{ category_selected.name }}" selected>{{ category_selected.friendly_name }}</option>
                            {% else %}
                                {% for cat in all_categories %}
                                    <option value="{{ cat.name }}">{{ cat.friendly_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </form>
                </div>
            </div>
        </section>
        {% if crate_product_count < 6 %}
        <section>
            {% if category or category_selected %}
                <div class="row">
                    <div class="col px-0">
                        <div class="product-container container">
                            {% for product in products %}
                                <div class="row">
                                    <div class="col">
                                        <div class="crate-card">
                                            <div class="row">
                                                <div class="col-2 text-center pr-0 m-auto">
                                                    <img class="img-fluid crate-img" src="{{ product.image.url }}">
                                                </div>
                                                <div class="col-10 mt-1">
                                                    <a href="{% url 'product_display' product.id %}" class="plain-anchor"><h6 class="my-0">{{ product.name }}</h6></a>
                                                    <p class="my-0"><small>{{ product.size }}</small></p>
                                                    <p class="my-0"><small>{{ product.proof }}%</small></p>
                                                    <div class="my-0">
                                                        <small class="font-weight-bold">£{{ product.price }}</small>
                                                        <form class="form cart-delete" method="POST" action="{% url 'add_to_crate' product.id %}">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <div class="col-12 p-0">
                                                                    <input class="form-control d-inline-block crate-size" type="number" name="quantity" min="1" max="{{ max_in_crate }}" value="1"/>
                                                                    <button type="submit" class="btn btn-sm btn-orange mr-2 crate-size">Add</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
        {% else %}
        <section>
            <div class="row">
                <div class="col text-center mt-4 text-orange">
                    <h3>Your Crate is Full!</h3>
                </div>
            </div>
            <div class="row text-center">
                <form class="form m-auto pb-0" method="POST" action="{% url 'add_crate_to_cart' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <button type="submit" class="btn btn-orange">ADD TO CART</button>
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </section>
        {% endif %}
        <section>
            <div class="row section-title mb-0">
                <div class="col-12 text-center">
                    <h4 class="text-uppercase m-0" id="reviews">Crate Contents</h4>
                </div>
            </div>
            <div class="row crate-contents">
                <div class="col">
                    <div class="row">
                    {% if crate_product_count > 0 %}
                        <div class="col text-orange mb-2">
                            <h5 class="strikethrough">Crate Total: <span class="strikeout">£{{ crate_total|floatformat:2 }}</span> <span class="text-large">£{{ total_with_discount|floatformat:2 }}</span></h5>
                        </div>
                    {% else %}
                        <div class="col mb-2 text-center">
                            <h5>Your crate is empty</h5>
                        </div>
                    {% endif %}
                    </div>
                    {% for item in products_in_crate %}
                        <div class="row">
                            <div class="col">
                                <div class="crate-card">
                                    <div class="row">
                                        <div class="col-2 text-center pr-0 m-auto">
                                            <img class="img-fluid crate-img" src="{{ item.product.image.url }}">
                                        </div>
                                        <div class="col-10 mt-1">
                                            <h6 class="my-0">{{ item.product.name }}</h6>
                                            <p class="my-0"><small>{{ item.product.size }}</small></p>
                                            <p class="my-0"><small class="font-weight-bold">£{{ item.product.price }}</small></p>
                                            <div class="my-0">
                                                <small class="font-weight-bold">Quantity: {{ item.quantity }}</small>
                                                <form class="form cart-delete" method="POST" action="{% url 'delete_from_crate' item.product.id %}">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="col-12 p-0">
                                                            <button type="submit" class="btn btn-sm btn-orange mr-2">Remove</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if crate_product_count > 0 %}
                        <div class="col mt-2">
                            <a class="btn btn-danger" href="{% url 'empty_crate' %}" role="button">Empty your crate</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block postload_js %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#categorySelect').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}