{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}
    Change Password
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

    <div class="page-header">
        <div class="row">
            <div class="col">
                {% trans "Change Password" %}
                <hr class="grey w-50">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col allauth-form">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-orange text-uppercase mr-2 mb-2" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
