{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}
    Password Reset
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                {% trans "Password Reset" %}
                <hr class="grey w-50">
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="pt-3 text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <div class="row">
        <div class="col allauth-form">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-orange text-uppercase mr-2 mb-2" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>

    <p class=" pt-3 text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
