{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}
    Set Password
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                {% trans "Set Password" %}
                <hr class="grey w-50">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col allauth-form">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-orange text-uppercase mr-2 mb-2" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}
