{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}
    Password Reset Confirmation
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                {% trans "Change Password" %}
                <hr class="grey w-50">
            </div>
        </div>
    </div>

    <p class="pt-3 text-center">{% trans 'Your password is now changed.' %}</p>
{% endblock %}
