{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_title %}
    Signup
{% endblock %}

{% block inner_content %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                {% trans "Sign Up" %}
                <hr class="grey w-50">
            </div>
        </div>
    </div>

    <p class="pt-3 text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <div class="row">
        <div class="col allauth-form">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-orange text-uppercase mr-2 mb-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>

{% endblock %}
