{% load static %}

<!Doctype html>
<html lang="en">
  <head>
    {% block core_meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}{% endblock %} - On the Rocks</title>
  </head>
  <body>

    <header class="container-fluid navbar-light fixed-top">
        <div class="row pt-2 header-bg">
            <div class="col d-none d-lg-flex">
                <div class="header-logo">
                    <h1 class="logo">
                        <a href="{% url 'home' %}" class="logo-link">
                            <i class="fas fa-glass-whiskey"></i>
                            <strong>ON</strong><span class="small">the</span><strong>ROCKS</strong>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-2 d-lg-none burger-container my-auto">
                <button class="burger-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </button>
            </div>
            <div class="col d-none d-lg-inline">
                <div class="search-container">
                    <form class="form-inline w-100" method="GET" action="{% url 'products' %}">
                        <input class="form-control mr-0 search-bar" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn search-button" type="submit"><i class="fas fa-search fa-lg"></i></button>
                    </form>
                </div>
            </div>
            <div class="col d-flex justify-content-end my-auto mr-2">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center text-dark">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'site_management' %}" class="dropdown-item">Site Management</a>
                                {% endif %}
                                <a href="#" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item d-lg-none">
                        <a class="text-info nav-link" href="#" id="toggle-search">
                            <div class="text-center text-dark">
                                <div><i class="fas fa-search fa-lg"></i></div>
                                <p class="my-0">Search</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-info font-weight-bold nav-link" href="#">
                            <div class="text-center text-dark">
                                <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                <p class="my-0">
                                        $0.00
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="row navbar navbar-expand-lg navbar-light nav-bg">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item d-lg-none">
                            <a class="nav-link text-uppercase" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Whiskeys
                            </a>
                            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-uppercase" href="{% url 'products' %}">All Whiskeys</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-uppercase" href="{% url 'products' %}?category=single_malt">Single Malt</a>
                                <a class="dropdown-item text-uppercase" href="{% url 'products' %}?category=blended_malt">Blended Malt</a>
                                <a class="dropdown-item text-uppercase" href="{% url 'products' %}?category=blended_whiskey">Blended Whiskey</a>
                                <a class="dropdown-item text-uppercase" href="{% url 'products' %}?category=grain_whiskey">Grain Whiskey</a>
                                <a class="dropdown-item text-uppercase" href="{% url 'products' %}?category=organic_whiskey">Organic Whiskey</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{% url 'create_a_crate' %}">Create-a-crate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">Cocktails</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="nav-spacer"></div>
    <div class="container" id="mobile-search" style="display:none">
        <div class="row">
            <div class="col d-lg-none">
                <div class="search-container py-3">
                    <form class="form-inline w-100" method="GET" action="{% url 'products' %}">
                        <input class="form-control mr-0 ml-2 search-bar" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn search-button" type="submit"><i class="fas fa-search fa-lg"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="message-container">
            
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postload_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#toggle-search').click(function() {
                $('#mobile-search').slideToggle()
            });
        });
    </script>
    {% endblock %}

  </body>
</html>