{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

{% block extra_title %}
    Cocktails
{% endblock %}
{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center fs-20">
            <p class="pt-3">Check out some of our hand picked recipes for cocktails that anyone could make!</p>
        </div>
    </div>
    {% for cocktail in cocktails %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="cocktail-card mx-2 my-3">
                <div class="row">
                    <div class="col-12 col-lg-3 text-center order-2 order-lg-1 px-2 py-2 bg-grey">
                        <div class="row">
                            <div class="col col-sm-5 col-lg-12 py-2">
                                {% if cocktail.image %}
                                    <a href="{% url 'display_cocktail' cocktail.id %}"><img class="cocktail-card-image" alt="{{ cocktail.name }}" src="{{ cocktail.image.url }}"/></a>
                                {% else %}
                                    <a href="{% url 'display_cocktail' cocktail.id %}"><img class="cocktail-card-image" alt="{{ cocktail.name }}" src="{{ MEDIA_URL }}no-cocktail.jpg"/></a>
                                {% endif %}
                            </div>
                            <div class="col d-none d-sm-inline-block d-lg-none">
                                <ul class="list-style-none">
                                    <li class="pb-1">{{ cocktail.product_measure }} <a href="{% url 'product_display' cocktail.product.id %}">{{ cocktail.product.name }}</a></li>
                                    <li>{{ cocktail.ingredient_1 }}</li>
                                    {% if cocktail.ingredient_2 %}<li>{{ cocktail.ingredient_2 }}</li>{% endif %}
                                    {% if cocktail.ingredient_3 %}<li>{{ cocktail.ingredient_3 }}</li>{% endif %}
                                    {% if cocktail.ingredient_4 %}<li>{{ cocktail.ingredient_4 }}</li>{% endif %}
                                    {% if cocktail.ingredient_5 %}<li>{{ cocktail.ingredient_5 }}</li>{% endif %}
                                    {% if cocktail.ingredient_6 %}<li>{{ cocktail.ingredient_6 }}</li>{% endif %}
                                    {% if cocktail.ingredient_7 %}<li>{{ cocktail.ingredient_7 }}</li>{% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 text-center text-left-lg order-1 order-lg-2 px-2 py-2 bg-grey">
                        <a class="plain-anchor" href="{% url 'display_cocktail' cocktail.id %}"><h3 class="mb-0 mt-2">{{ cocktail.name }}</h3></a>
                        <ul class="list-style-none d-none d-lg-block">
                            <li class="pb-1">{{ cocktail.product_measure }} <a href="{% url 'product_display' cocktail.product.id %}">{{ cocktail.product.name }}</a></li>
                            <li>{{ cocktail.ingredient_1 }}</li>
                            {% if cocktail.ingredient_2 %}<li>{{ cocktail.ingredient_2 }}</li>{% endif %}
                            {% if cocktail.ingredient_3 %}<li>{{ cocktail.ingredient_3 }}</li>{% endif %}
                            {% if cocktail.ingredient_4 %}<li>{{ cocktail.ingredient_4 }}</li>{% endif %}
                            {% if cocktail.ingredient_5 %}<li>{{ cocktail.ingredient_5 }}</li>{% endif %}
                            {% if cocktail.ingredient_6 %}<li>{{ cocktail.ingredient_6 }}</li>{% endif %}
                            {% if cocktail.ingredient_7 %}<li>{{ cocktail.ingredient_7 }}</li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="cocktail-card mx-2 my-3">
                <div class="row text-right">
                    <div class="offset-lg-5 col text-center text-right-lg px-2 py-2 bg-grey">
                        <a class="plain-anchor" href="{% url 'display_cocktail' cocktail.id %}"><h3 class="mb-0 mt-2">{{ cocktail.name }}</h3></a>
                        <ul class="list-style-none d-none d-lg-block">
                            <li class="pb-1">{{ cocktail.product_measure }} <a href="{% url 'product_display' cocktail.product.id %}">{{ cocktail.product.name }}</a></li>
                            <li>{{ cocktail.ingredient_1 }}</li>
                            {% if cocktail.ingredient_2 %}<li>{{ cocktail.ingredient_2 }}</li>{% endif %}
                            {% if cocktail.ingredient_3 %}<li>{{ cocktail.ingredient_3 }}</li>{% endif %}
                            {% if cocktail.ingredient_4 %}<li>{{ cocktail.ingredient_4 }}</li>{% endif %}
                            {% if cocktail.ingredient_5 %}<li>{{ cocktail.ingredient_5 }}</li>{% endif %}
                            {% if cocktail.ingredient_6 %}<li>{{ cocktail.ingredient_6 }}</li>{% endif %}
                            {% if cocktail.ingredient_7 %}<li>{{ cocktail.ingredient_7 }}</li>{% endif %}
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 text-center px-2 py-2 bg-grey">
                        <div class="row">
                            <div class="col d-none d-sm-inline-block d-lg-none">
                                <ul class="list-style-none">
                                    <li class="pb-1">{{ cocktail.product_measure }} <a href="{% url 'product_display' cocktail.product.id %}">{{ cocktail.product.name }}</a></li>
                                    <li>{{ cocktail.ingredient_1 }}</li>
                                    {% if cocktail.ingredient_2 %}<li>{{ cocktail.ingredient_2 }}</li>{% endif %}
                                    {% if cocktail.ingredient_3 %}<li>{{ cocktail.ingredient_3 }}</li>{% endif %}
                                    {% if cocktail.ingredient_4 %}<li>{{ cocktail.ingredient_4 }}</li>{% endif %}
                                    {% if cocktail.ingredient_5 %}<li>{{ cocktail.ingredient_5 }}</li>{% endif %}
                                    {% if cocktail.ingredient_6 %}<li>{{ cocktail.ingredient_6 }}</li>{% endif %}
                                    {% if cocktail.ingredient_7 %}<li>{{ cocktail.ingredient_7 }}</li>{% endif %}
                                </ul>
                            </div>
                            <div class="col col-sm-5 col-lg-12 py-2">
                                {% if cocktail.image %}
                                    <a href="{% url 'display_cocktail' cocktail.id %}"><img class="cocktail-card-image" alt="{{ cocktail.name }}" src="{{ cocktail.image.url }}"/></a>
                                {% else %}
                                    <a href="{% url 'display_cocktail' cocktail.id %}"><img class="cocktail-card-image" alt="{{ cocktail.name }}" src="{{ MEDIA_URL }}no-cocktail.jpg"/></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% if cocktails.paginator.page_range|length > 1 %}
    <div class="container pt-2">
        <div class="row">
            <nav class="mx-auto">
                <ul class="pagination">
                    {% if cocktails.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% param_replace page=cocktails.previous_page_number %}" tabindex="-1">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for pg in cocktails.paginator.page_range %}
                        {% if cocktails.number == pg %}
                            <li class="page-item active"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                        {% elif pg > cocktails.number|add:-3 and pg < cocktails.number|add:3 %}
                            <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if cocktails.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% param_replace page=cocktails.next_page_number %}" tabindex="-1">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
{% endblock %}