{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

{% block page_header %}
    <div class="container page-header">
        <div class="row">
            <div class="col">
                {{ page_header }}
                <hr class="grey w-50">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ product_count }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-2 mb-2">
                    <div class="card h-100">
                        <div class="row">   
                            <div class="col">
                                {% if product.image %}
                                    <a href="{% url 'product_display' product.id %}">
                                        <img src="{{ product.image.url }}" class="card-img-top card-image" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_display' product.id %}">
                                        <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top card-image" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    <div class="card-body">
                        <div class="row">   
                            <div class="col">
                                <h3 class="card-title">{{ product.name }}{% if product.detail %}<small class="grey"> - {{ product.detail }}</small>{% endif %}</h3>
                            </div> 
                        </div>
                    </div>
                    <div class="card-footer">
                    <div class="row">   
                            <div class="col">
                                <p class="mb-0"><a class="plain-anchor" href="#"><i class="fas fa-tag fa-sm"></i> {{ product.category.friendly_name }}</a></p>
                                <p class="mb-0 card-detail grey">{{ product.size }}/{{ product.proof }}%</p>
                                <p class="mb-0 card-price">£{{ product.price }}</p>
                                {% if product.rating > 0.0 %}
                                    <p class="mb-0 card-detail">{{ product.rating }}/5</p>
                                {% else %}
                                    <p class="mb-0 card-detail grey">No Reviews yet</p>
                                {% endif %}
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if products.paginator.page_range|length > 1 %}
    <div class="container pt-2">
        <div class="row">
            <nav class="mx-auto">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% param_replace page=products.previous_page_number %}" tabindex="-1">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for pg in products.paginator.page_range %}
                        {% if products.number == pg %}
                            <li class="page-item active"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                        {% elif pg > products.number|add:-3 and pg < products.number|add:3 %}
                            <li class="page-item"><a class="page-link" href="?{% param_replace page=pg %}">{{ pg }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% param_replace page=products.next_page_number %}" tabindex="-1">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
{% endblock %}