<div class="row">
    <div class="col">
        <div class="row">
            {% if crate_product_count > 0 %}
                <div class="col text-orange mb-2">
                    <h5 class="strikethrough">Crate Total: <span class="strikeout">£{{ crate_total|floatformat:2 }}</span> <span class="text-large">£{{ total_with_discount|floatformat:2 }}</span></h5>
                </div>
            {% else %}
                <div class="col mb-2 text-center">
                    <h5>Your crate is empty</h5>
                </div>
            {% endif %}
            </div>
            <div class="size-restrict">
            {% for item in products_in_crate %}
                <div class="row mr-0">
                    <div class="col">
                        <div class="crate-card">
                            <div class="row">
                                <div class="col-2 text-center pr-0 m-auto">
                                    <img class="img-fluid crate-img" src="{{ item.product.image.url }}">
                                </div>
                                <div class="col-10 mt-1 mb-1">
                                    <a href="{% url 'product_display' item.product.id %}" class="plain-anchor"><h6 class="my-0">{{ item.product.name }}</h6></a>
                                    <p class="my-0"><small>{{ item.product.size }}</small></p>
                                    <p class="my-0"><small class="font-weight-bold">£{{ item.product.price }}</small></p>
                                    <div class="my-0">
                                        <small class="font-weight-bold">Quantity: {{ item.quantity }}</small>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if crate_product_count > 0 %}
            <div class="col mt-3 pl-0">
                <a class="btn btn-danger" href="{% url 'empty_crate' %}" role="button">Empty Crate</a>
                {% if crate_product_count == 6 %}
                    <form class="form m-auto pb-0 d-inline-block" method="POST" action="{% url 'add_crate_to_cart' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-12 p-0">
                                <button type="submit" class="btn btn-orange">Add to Cart</button>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>