<div class="toast toast-border border-success" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header custom-header">
    <i class="far fa-check-circle pr-1"></i>
    <strong class="mr-auto"> Success</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
  {% if 'cart' in message.extra_tags %}
    <hr class="mt-0 mb-1">
    <div class="toast-body container">
        {% if products_in_cart or crates_in_cart %}
            {% include 'includes/toasts/cart_summary.html' %}
        {% endif %}
    </div>
    {% elif 'crate' in message.extra_tags %}
    <hr class="mt-0 mb-1">
    <div class="toast-body container">
        {% if products_in_crate %}
            {% include 'includes/toasts/crate_summary.html' %}
        {% endif %}
    </div>
  {% endif %}
</div>